.projectsPage {
    min-height: 88vh;

    .intro {
        width: 55%;
        padding: 4rem 0 2rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.5rem;
            max-width: 55rem;

            a {
                font-weight: 600;
            }
        }

        img {
            width: 10rem;
            margin-left: 2rem;
        }
    }

    .cards-container {
        width: 55%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 3rem;

        .card {
            color: black;
            height: 28rem;
            margin: 0 1rem;
            transition: .3s;

            &:hover {
                box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.49);
            }

            .cardImg {
                height: 10rem;
            }
            
            .cardImg-shortr {
                background: url("../../assets/shortr/shortrFrontPage.png") no-repeat 50%;
                background-size: cover;
            }

            .cardImg-mixr {
                background: url("../../assets/mixr/frontPage.png") no-repeat 50%;
                background-size: cover;
            }

            .cardImg-helpr {
                background: url("../../assets/helpr/frontPage.png") no-repeat 50%;
                background-size: cover;
            }

            .cardImg-myWebsite {
                background: url("../../assets/myWebsite/frontPage.png") no-repeat 50%;
                background-size: cover;
            }

            .cardTitle {
                text-align: center;
                font-weight: 600;
            }

            .cardText {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            .btn-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    position: absolute;
                    bottom: .5rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }

    /* Styles for project pages */
    .bold {
        font-weight: 600;
    }

    .characteristics, .features {
        margin: 2rem auto;
        width: 55%;
        font-size: 1.2rem;
        max-width: 55rem;
    }

    .fullCode {
        width: 55%;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.5rem;
            max-width: 55rem;

            a {
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .projectsPage {
        min-height: auto;
    
        .intro {
            width: 90%;
            padding: 2rem 0;
            flex-direction: column;
    
            p {
                max-width: auto;
            }
    
            img {
                display: none;
            }
        }
    
        .cards-container {
            width: 90%;
            flex-direction: column;
            padding: 1rem auto;
    
            .card {
                margin: 1.5rem 0;
            }
        }
    
        /* Styles for project pages */  
        .characteristics, .features {
            margin: 1.5rem auto;
            width: 90%;
            max-width: auto;
        }

        .fullCode {
            width: 90%;
            p {
                font-size: 1rem
            }
        }
    }
    
}

.projectsPage-light {
    background-color: white;
    color: black;

    a {
        color: black;
    }

    .btn {
        border: black solid 2px;
        color: black;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.projectsPage-dark {
    background-color: #1f2028;
    color: white;

    a {
        color: white;
    }

    .btn {
        border: black solid 2px;
        color: black;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}