.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;

    .mobile-logo {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 1rem;
            a {
                font-size: 1.2rem;
                margin-top: .1rem;

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    margin-top: .1rem;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .25s ease-in-out;
                }
                  
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        .active {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    .language-selector {
        button {
            font-size: 1.2rem;
            margin: 0 .3rem;
            cursor: pointer;
            border: none;
            background-color: transparent;

            &::after {
                content: '';
                display: block;
                height: 2px;
                margin-top: .1rem;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .25s ease-in-out;
            }
              
            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        .selected {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    .dark-mode-toggle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        &.dark {
          background-color: #27272A;
        }

        .toggle {
            display: block;
            width: 3rem;
            height: 3rem;
            background-color: #FDF5F0;
            border-radius: 20px;
            transition: all 300ms ease-in-out;
            border: 2px solid #F1F5F9;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            z-index: 1;
            .dark & {
              border-color: #475569;
            }
            &::before {
              content: '';
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              height: 1rem;
              width: 1rem;
              background-image: linear-gradient(to top left, #F59E0B, #FEF3C7);
              border-radius: 50%;
              transition: all 400ms ease-in-out;
            }
            &::after {
              content: '';
              position: absolute;
              bottom: -2.1rem;
              left: 0;
              width: 3rem;
              height: 3rem;
              border-radius: 45%;
              background-image: linear-gradient(to left, #7DD3FC, #0EA5E9);
              animation: wave 15s infinite linear;
              transition: all 300ms ease-in-out;
            }
          }
          .toggle-checkbox {
            display: none;
          }
          .toggle-checkbox:checked ~ .toggle {
            background-color: #1F2937;
          }
          .toggle-checkbox:checked ~ .toggle::before {
            background-image: linear-gradient(to top left, #E5E7EB, #D1D5DB);
            left: 1.5rem;
          }
          .toggle-checkbox:checked ~ .toggle::after {
            background-image: linear-gradient(to left, #64748B, #334155);
            bottom: -1.8rem;
          }
          @keyframes wave {
            from { transform: rotate(0deg);}
            from { transform: rotate(360deg);}
          }
    }

    .hamburguer-icon {
        display: none;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        margin: auto;
        z-index: 4;

            .line {
                border-radius: .5rem;
                width: 40px;
                height: 6px;
                margin-bottom: 8px;
                transition: .5s;
            }

            .top {
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 18px;
                position: relative;
            }

            .center {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s 0,3s, opacity 2s linear;
            }
                
            .bottom {
                -ms-transform: rotate(140deg);
                -webkit-transform: rotate(140deg);
                transform: rotate(45deg);
                top: -10px;
                position: relative;
            }
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -100%;
        transition: .5s;
        z-index: 1;
        width: 100%;
        height: 100vh;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 2rem;

            li {
                margin: 1rem 0;
                a {
                    font-size: 2rem;
                    margin-top: 0;
                }
            }

            .language-selector {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    font-size: 2rem;
                    margin: 0 .3rem;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
        
                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        margin-top: .1rem;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .25s ease-in-out;
                    }
                      
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
        
                .selected {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;

        .desktop-logo {
            display: none;
        }

        .mobile-logo {
            display: block;
            margin-bottom: -.5rem;
            padding: 0;
            margin-left: -8rem;
        }

        .desktop-menu {
            display: none;
        }
    
        .desktop-language-selector {
            display: none;
        }

        .dark-mode-toggle-container {
            margin-left: -8rem;
        }
   
        .hamburguer-icon {
            display: block;
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            margin: auto;
            z-index: 2;
    
                .line {
                    background: white;
                    border-radius: .5rem;
                    width: 40px;
                    height: 6px;
                    margin-bottom: 8px;
                    transition: .5s;
                }
    
                .top {
                    -ms-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 18px;
                    position: relative;
                }
    
                .center {
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s 0,3s, opacity 2s linear;
                }
                    
                .bottom {
                    -ms-transform: rotate(140deg);
                    -webkit-transform: rotate(140deg);
                    transform: rotate(45deg);
                    top: -10px;
                    position: relative;
                }
        }
    }

    .mobile-menu-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s;
        z-index: 1;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 2rem;

            li {
                margin: 1rem 0;
                a {
                    font-size: 2rem;
                    margin-top: 0;
                }
            }

            .language-selector {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    font-size: 2rem;
                    margin: 0 .3rem;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
        
                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        margin-top: .1rem;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .25s ease-in-out;
                    }
                      
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
        
                .selected {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.header-light {
    background-color: white;
    color: black;

    a {
        color: black;
    }

    ul {
        li {
            a {
                color: black;
                &::after{
                    background: black;
                }
            }
        }
    }
    
    .language-selector {
        button {
            color: black;

            &::after{
                background: black;
            }
        }
    }

    .hamburguer-icon {
        .line {
            background: black;
        }
    }

    .mobile-menu-active {
        background-color: white;
        color: black;
    }
}

.header-dark {
    background-color: black;
    color: white;

    a {
        color: white;
    }

    ul {
        li {
            a {
                color: white;
                &::after{
                    background: white;
                }
            }
        }
    }
    
    .language-selector {
        button {
            color: white;

            &::after{
                background: white;
            }
        }
    }

    .hamburguer-icon {
        .line {
            background: white;
        }
    }

    .mobile-menu-active {
        background-color: black;
        color: white;
    }
}
