.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-section {
        width: 70%;
    }

    .textAndPicture {
        display: flex;
        align-items: flex-start;
        margin-top: 5rem;

        .text {
            margin: 0;
            padding-right: 5rem;

            .firstWord {
                font-size: 3rem;
                font-weight: 800;
                margin-right: .5rem;
            }

            p {
                font-size: 1.15rem;
                font-weight: 400;
                margin: .8rem 0;
            }

            a {
                font-weight: 700;
            }

            .firstParagraph {
                margin: 0 0 .8rem 0;
            }
        }

        img {
            width: 25rem;
            height: auto;
            border-radius: 2.5%;
            margin-top: 1rem;
        }
    }

    .nextSection-cta {
        display: flex;
        align-items: center;
        margin-top: 2.5rem;

        span {
            border: gray 1px solid;
            border-radius: 50%;
            padding: .5rem;
            .icon {
                font-size: 2rem;
            }
        }
        

        p {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
            margin-left: 1.5rem;
        }
    }

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        margin: 6rem 0 4rem 0;

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.5rem;
            padding: 0;
            margin: 0;
        }

        .icon-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1.5rem 0;

            .icons-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin-top: 1rem;
                    height: 5.5rem;
                    
                    a {
                        img {
                            width: 5rem;
                            margin: 1rem;
                            transition: 0.3s ease-in-out;
                            cursor: pointer;
                            filter: gray;
                            -webkit-filter: grayscale(1);
                            border-radius: 10%;
                        }
                    }

                    p {
                        position: absolute;
                        text-align: center;
                        font-weight: 500;
                        opacity: 0;
                        bottom: -3rem;
                        transition: .3s;
                    }

                    &:hover img {
                        transform: scale(1.05);
                        filter: none;
                        -webkit-filter: grayscale(0);
                    }

                    &:hover p {
                        bottom: -2.5rem;
                        opacity: 1;
                    }
                }

                .reactTestingLibrary {
                    p {
                        bottom: -5rem;
                    }

                    &:hover p {
                        bottom: -4rem;
                        opacity: 1;
                    }
                }
            }
        }

        .firstIcon-section {
            margin: 0;
            margin-top: .5rem;
        }
    }

    .btn-container {
        margin: 1rem 0 5rem 0;

        .btn {
            margin: 0 1.5rem;
        }
    }
}

.aboutPage-light {
    background-color: white;
    color: black;

    .textAndPicture {
        .text {
            a {
                color: black;
            }
        }
    }

    .nextSection-cta {
        color: black;
    }

    .btn-container {
        .btn {
            border: black solid 2px;
            color: black;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.aboutPage-dark {
    background-color: #1f2028;
    color: white;

    .textAndPicture {
        .text {
            a {
                color: white;
            }
        }
    }

    .nextSection-cta {
        color: white;
    }

    .btn-container {
        .btn {
            border: white solid 2px;
            color: white;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .aboutPage { 
        .content-section {
            width: 90%;
        }
    
        .textAndPicture {
            flex-direction: column;
            margin-top: 2rem;
    
            .text {
                padding-right: 0;
                padding: 0 1rem;
            }
    
            img {
                display: none;
            }
        }
    
        .nextSection-cta {
            display: none;
        }
    
        .stack {
            padding-top: 0;
            margin: 4rem 0;
    
            .icon-section {
    
                .icons-container {
                    flex-wrap: wrap;
    
                    .icon {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        margin-top: 1rem;
                        height: 6.5rem;
                        
                        a {
                            img {
                                -webkit-filter: grayscale(0);
                                filter: grayscale(0);
                            }
                        }
    
                        p {
                            opacity: 1;
                            bottom: -2rem;
                        }
                    }
    
                    .reactTestingLibrary {
                        p {
                            bottom: -3.5rem;
                        }
                    }
                }
            }
        }
    
        .btn-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .btn {
                margin: .5rem 0;
            }
        }
    }

}
